{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center">


      {% if users %}

      <div class="col-6">
        <div class="text-center">
          <h2>Lista de usuarios registrados.</h2>
        </div>
        <div class="list-group list-group-flush" id="list-tab" role="tablist">

          <!-- Esta madre se tiene que popular de forma automática con jQuery. -->

          {% for nombre in users %}

          <a class="list-group-item list-group-item-action" id="list-{{nombre}}-list" data-toggle="list" href="#list-{{nombre}}" role="tab" aria-controls="{{nombre}}">{{nombre}}</a>

          {% endfor %}
        </div>
      </div>


      <!-- Aquí es donde se van a desplegar los datos de la llave pública y privada. -->


      <div class="col-6">
        <div class="text-center">
          <h2>Detalles de los usuarios.</h2>
        </div>
        <div class="tab-content" id="nav-tabContent">

          {% for nombre, llaves in users.items %}

          <div class="tab-pane fade" id="list-{{nombre}}" role="tabpanel" aria-labelledby="list-{{nombre}}-list">
            <div class="row d-flex justify-content-center">
              <div class="row d-flex justify-content-center">
                <h4>Llave pública:</h4>
                <p align="center">
                  {{llaves.pub_key}}
                </p>
              </div>            
            <div class="row d-flex justify-content-center">
              <h4>Llave privada:</h4>
                <p align="center">
                  {{llaves.priv_key}}
                </p>            
              </div>
            </div>
          </div>

          {% endfor %}

        </div>
      </div>



      {% else %}

        <h2>Aún no hay usuarios registrados.</h2>

      {% endif %}
    </div>
</div>

{% endblock %}