<!-- chat/templates/chat/404.html -->
{% extends 'chat/base.html' %}

{% block content %}

    <div class="text-center">
        <h2>Woops, esto no existe D:</h2>
        <hr>
        <h4>Error 404.</h4>
    </div>

{% endblock %}