<!-- chat/templates/chat/index.html -->
{% extends 'chat/base.html' %}


{% block content %}
    <div id="probx" class="text-center">
        <h3>¡Regístrate en el chat!</h3>
        <input name="username" id="name-input" type="text" aria-label="Default" placeholder="Usuario" size="15" maxlength="10" required="true"><br/>
        </br>
        <button id="room-name-submit" class="btn btn-primary">Registrarse</button>
        <button id="form-submit" id="send-to-chat" class="btn btn-primary" disabled>Chatear</button>
    </div>

{% endblock %}



{% block scripting %}

    document.querySelector('#form-submit').onclick = function(e){

        var username = document.querySelector('#name-input').value;

        window.location.pathname = 'chat/chatroom/' + username + '/';

    }

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#name-input').value;
        const auth = '{{autoridad}}api/signup/'
        const data = {
            u : roomName
        };

        $.ajax({
            url: auth,
            type: "POST",
            data: data,
            dataType: "JSON",
            success: function(result){
                console.log(result)

                document.querySelector('#probx').insertAdjacentHTML(
                    'beforeEnd',
                    `<h3>Tu llave privada:</h3>
                    <p>` + result['priv_key'] + `</p>
                    `
                )

                document.querySelector('#form-submit').disabled = false;
                document.querySelector('#room-name-submit').disabled = true;
                document.querySelector('#name-input').disabled = true;

                
            },
            error:function(error){
                document.querySelector('#probx').insertAdjacentHTML(
                    'beforeEnd',
                    `<h3>Probablemente este usuario ya fue registrado.:</h3>`
                )
            }
        })
    };
{% endblock %}