<!-- chat/templates/chat/room.html -->

{% extends 'chat/base.html' %}

    {% block title %}Chat Room{% endblock %}

    {% block header %}<h2>Chat con {{remitente}}</h2>{% endblock %}


    {% block content %}
    <div class="row">
        <div class="col-6">
            <div class="text-center">
              <textarea id="chat-log" class="md-textarea form-control" rows="15" disabled></textarea>
              <br/>
            </div>
            <input id="chat-message-input" class="form-control" type="text" placeholder="Mensajes aquí."><br/>
            <div class="text-right">
                <input id="chat-message-submit" type="button" class="btn btn-dark" value="Enviar" />
            </div>
        </div>


        <div class="col-6">
          <div class="row d-flex justify-content-center">
            <h4>Llave pública de la otra persona: {{user_name_json}}</h4>
            <textarea id="pub_key" class="md-textarea form-control" rows="15" cols="65" disabled>{{the_pub_key}}</textarea>
          </div>

        <div class="row d-flex justify-content-center">
          <h4>Llave privada propia: {{remitente}}</h4>
            <textarea id="priv_key" class="md-textarea form-control" rows="15" cols="65" disabled>{{my_priv_key}}</textarea>
          </div>
        </div>
    </div>

    <script type="text/javascript" src="https://travistidwell.com/jsencrypt/bin/jsencrypt.js"></script>
    {% endblock %}



{% block scripting %}

    var chatSocketListening = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + {{listening_channel}} + '/');

    var chatSocketSender = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + {{sender_channel}} + '/'
    )



    // Objeto encargado de los procedimientos criptográficos
    var decrypt = new JSEncrypt();
    var encrypt = new JSEncrypt();

    // Asignamos las llaves
    decrypt.setPrivateKey($('#priv_key').val());
    encrypt.setPublicKey($('#pub_key').val());




    chatSocketListening.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];


        console.log("Él:\t" + message);

        dec_message = decrypt.decrypt(message)


        document.querySelector('#chat-log').value += ("Él:\t" + dec_message + '\n');
    };

    chatSocketSender.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    chatSocketListening.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;


        var crypt_message = encrypt.encrypt(message);


        console.log("Yo:\t" + crypt_message)

        chatSocketSender.send(JSON.stringify({
            'message': crypt_message
        }));

        document.querySelector('#chat-log').value += ("Yo:\t" + message + '\n');

        messageInputDom.value = '';
    };

{% endblock %}