{% extends 'chat/base.html' %}

{% block header %}<h2>Chat de {{username}}</h2>{% endblock %}
{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center">


      {% if users %}

      <div class="col-6">
        <div class="text-center">
          <h2>Lista de usuarios registrados.</h2>
        </div>
        <div class="list-group list-group-flush" id="list-tab" role="tablist">

          <!-- Esta madre se tiene que popular de forma automática con jQuery. -->

          {% for nombre in users %}

          {% if username != nombre%}

          <a class="list-group-item list-group-item-action" id="list-{{nombre}}-list" data-toggle="list" href="#list-{{nombre}}" role="tab" aria-controls="{{nombre}}">{{nombre}}</a>

          {% endif %}

          {% endfor %}
        </div>
      </div>


      <!-- Aquí es donde se van a desplegar los datos de la llave pública y privada. -->


      <div class="col-6">
        <div class="text-center">
          <h2>¿Chatear?</h2>
        </div>
        <div class="tab-content" id="nav-tabContent">

          {% for nombre in users %}

          {% if username != nombre%}

          <div class="tab-pane fade" id="list-{{nombre}}" role="tabpanel" aria-labelledby="list-{{nombre}}-list">
            <div class="row d-flex justify-content-center">
              <div class="row d-flex justify-content-center">
                <a class="btn btn-primary" href="/chat/from-{{username}}-2-{{nombre}}/" target="_blank">¡Chatear!</a>
              </div>
            </div>           
          </div>

          {% endif %}

          {% endfor %}

        </div>
      </div>



      {% else %}

        <h2>Aún no hay usuarios registrados.</h2>

      {% endif %}
    </div>
</div>

{% endblock %}



{% block scripting %}

        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };

{% endblock %}